name: Deploy Infrastructure Minimal

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      KOMODO_API_URL:
        required: true

env:
  ENVIRONMENT: ${{ inputs.environment }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Environment is ${{ inputs.environment }}"
